//- Código feito com conversor online de HTML to PUG.
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
h1 Ola mundo! #{subject}
p #{name}

